/* ===================================================================== */
/* ===================================================================== */
/* Seat_Theme                                                            */
/*                                                                       */
/*   [NOTE]                                                              */
/*      - This theme is based on Outsystems UI Theme Structure           */
/*        and CSS BEM best practices.                                    */
/*      - Below you can find the CSS map Structure that is being         */
/*        used on the Outsystems UI.                                     */
/*                                                                       */
/*                                                                       */
/*  OutSystems UI                                                        */
/*  $0 - Root - CSS Variables                                            */
/*  $1 - Resets (https://necolas.github.io/normalize.css/)               */
/*  $2 - HTML Elements                                                   */
/*       $2.1 - HTML Elements - Links                                    */
/*       $2.2 - HTML Elements - Images                                   */
/*       $2.3 - HTML Elements - Headings                                 */
/*       $2.4 - HTML Elements - Inputs and Selectors                     */
/*       $2.5 - HTML Elements - Buttons                                  */
/*  $3 - Page Layout                                                     */
/*       $3.1 - Page Layout - Header                                     */
/*              $3.1.1 - Page Layout - Header Top                        */
/*              $3.1.2 - Page Layout - Header Content                    */
/*       $3.2 - Page Layout - Menu                                       */
/*       $3.3 - Page Layout - Content                                    */
/*       $3.4 - Page Layout - Login                                      */
/*  $4 - Patterns                                                        */
/*       $4.1 - Patterns - Adaptive                                      */
/*              $4.1.1   - Patterns - Adaptive - Columns                 */
/*              $4.1.2   - Patterns - Adaptive - Gallery                 */
/*              $4.1.3   - Patterns - Adaptive - MasterDetail            */
/*       $4.2 - Patterns - Content                                       */
/*              $4.2.1   - Patterns - Content - Accordion                */
/*              $4.2.2   - Patterns - Content - Alert                    */
/*              $4.2.3   - Patterns - Content - BlankSlate               */
/*              $4.2.4   - Patterns - Content - Card                     */
/*              $4.2.5   - Patterns - Content - CardBackground           */
/*              $4.2.6   - Patterns - Content - CardItem                 */
/*              $4.2.7   - Patterns - Content - CardSectioned            */
/*              $4.2.8   - Patterns - Content - ChatMessage              */
/*              $4.2.9   - Patterns - Content - FlipContent              */
/*              $4.2.10  - Patterns - Content - FloatingContent          */
/*              $4.2.11  - Patterns - Content - ListItemContent          */
/*              $4.2.12  - Patterns - Content - Section                  */
/*              $4.2.13  - Patterns - Content - Tag                      */
/*              $4.2.14  - Patterns - Content - Tooltip                  */
/*              $4.2.15  - Patterns - Content - UserAvatar               */
/*       $4.3 - Patterns - Interaction                                   */
/*              $4.3.1   - Patterns - Interaction - ActionSheet          */
/*              $4.3.2   - Patterns - Interaction - Animate              */
/*              $4.3.3   - Patterns - Interaction - AnimatedLabel        */
/*              $4.3.4   - Patterns - Interaction - Carousel             */
/*              $4.3.5   - Patterns - Interaction - DatePicker           */
/*              $4.3.6   - Patterns - Interaction - DropdownSearch       */
/*              $4.3.7   - Patterns - Interaction - DropdownTags         */
/*              $4.3.8   - Patterns - Interaction - FloatingActions      */
/*              $4.3.9   - Patterns - Interaction - HorizontalScroll     */
/*              $4.3.10  - Patterns - Interaction - LightBoxImage        */
/*              $4.3.11  - Patterns - Interaction - Notification         */
/*              $4.3.12  - Patterns - Interaction - RangeSlider          */
/*              $4.3.13  - Patterns - Interaction - Search               */
/*              $4.3.14  - Patterns - Interaction - Sidebar              */
/*              $4.3.15  - Patterns - Interaction - StackedCards         */
/*              $4.3.16  - Patterns - Interaction - Video                */
/*       $4.4 - Patterns - Navigation                                    */
/*              $4.4.1   - Patterns - Navigation - BottomBarItem         */
/*              $4.4.2   - Patterns - Navigation - Breadcrumbs           */
/*              $4.4.3   - Patterns - Navigation - Pagination            */
/*              $4.4.4   - Patterns - Navigation - SectionIndex          */
/*              $4.4.5   - Patterns - Navigation - Tabs                  */
/*              $4.4.6   - Patterns - Navigation - Timeline              */
/*              $4.4.7   - Patterns - Navigation - Wizard                */
/*       $4.5 - Patterns - Numbers                                       */
/*              $4.5.1   - Patterns - Numbers - Badge                    */
/*              $4.5.2   - Patterns - Numbers - Counter                  */
/*              $4.5.3   - Patterns - Numbers - IconBadge                */
/*              $4.5.4   - Patterns - Numbers - ProgressBar              */
/*              $4.5.5   - Patterns - Numbers - ProgressCircle           */
/*              $4.5.6   - Patterns - Numbers - ProgressCircleFraction   */
/*       $4.6 - Patterns - Utilities                                     */
/*              $4.6.1   - Patterns - Utilities - AlignCenter            */
/*              $4.6.2   - Patterns - Utilities - ButtonLoading          */
/*              $4.6.3   - Patterns - Utilities - CenterContent          */
/*              $4.6.4   - Patterns - Utilities - MarginContainer        */
/*              $4.6.5   - Patterns - Utilities - Separator              */
/*  $5 - Widgets                                                         */
/*       $5.1  - Widgets - List                                          */
/*       $5.2  - Widgets - ListItem                                      */
/*       $5.3  - Widgets - Table                                         */
/*       $5.4  - Widgets - BulkActions                                   */
/*       $5.5  - Widgets - Form                                          */
/*       $5.6  - Widgets - Upload                                        */
/*       $5.7  - Widgets - ButtonGroup                                   */
/*       $5.8  - Widgets - Popover                                       */
/*       $5.9  - Widgets - Popup                                         */
/*       $5.10 - Widgets - FeedbackMessage                               */
/*       $5.11 - Widgets - Checkbox                                      */
/*       $5.11 - Widgets - Dropdown                                      */
/*  $6 - Styles                                                          */
/*       $6.1 - Styles - Typography                                      */
/*              $6.1.1 - Styles - Typography - Sizes Desktop             */
/*              $6.1.2 - Styles - Typography - Sizes Tablet              */
/*              $6.1.3 - Styles - Typography - Sizes Phone               */
/*              $6.1.4 - Styles - Typography - Transform                 */
/*              $6.1.5 - Styles - Typography - Weight                    */
/*       $6.2 - Styles - Colors                                          */
/*              $6.2.1 - Styles - Colors - Brand                         */
/*              $6.2.2 - Styles - Colors - Extendend                     */
/*              $6.2.3 - Styles - Colors - Neutral                       */
/*              $6.2.4 - Styles - Colors - Semantic                      */
/*       $6.3 - Styles - Space                                           */
/*              $6.3.1  - Styles - Space - Padding                       */
/*              $6.3.2  - Styles - Space - Padding Top                   */
/*              $6.3.3  - Styles - Space - Padding Right                 */
/*              $6.3.4  - Styles - Space - Padding Bottom                */
/*              $6.3.5  - Styles - Space - Padding Left                  */
/*              $6.3.6  - Styles - Space - Padding Vertical              */
/*              $6.3.7  - Styles - Space - Padding Horizontal            */
/*              $6.3.8  - Styles - Space - Margin                        */
/*              $6.3.9  - Styles - Space - Margin Top                    */
/*              $6.3.10 - Styles - Space - Margin Right                  */
/*              $6.3.11 - Styles - Space - Margin Bottom                 */
/*              $6.3.12 - Styles - Space - Margin Left                   */
/*              $6.3.13 - Styles - Space - Margin Vertical               */
/*              $6.3.14 - Styles - Space - Margin Horizontal             */
/*       $6.4 - Styles - Border Radius                                   */
/*       $6.5 - Styles - Border Size                                     */
/*       $6.6 - Styles - Elevation/Shadows                               */
/*       $6.7 - Styles - Display Flex Properties                         */
/*       $6.8 - Styles - Others                                          */
/*  $7 - Screen Transitions                                              */
/*  $8 - Custom Patterns                                                 */
/*  $9 - Custom Classes                                                  */
/* ===================================================================== */
/* ===================================================================== */


/* ===================================================================== */
/*  Include Fonts
/* ===================================================================== */

/* Include Seat WebFont */

/* ===================================================================== */
/*  $0 - Root - CSS Variables
/* ===================================================================== */

/* Changed CSS variables to adapt the Theme to the Seat mockups */
:root {

    /* Color - Brand */
    --color-primary: #EA5D1A;
    --color-secondary: #DEDAD4;

    /* Typography - Size */
    --font-size-display: 68px;
    --font-size-h1: 50px;
    --font-size-h2: 38px;
    --font-size-h3: 30px;
    --font-size-h4: 25px;
    --font-size-h5: 20px;
    --font-size-h6: 16px;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;


    /* color - seat - extended */
    --color-seat-red: #e63a2b;
    --color-seat-red-light: #ec6b5f;
    --color-seat-red-lightest: #f18c76;

    --color-seat-orange: #ee7d05;
    --color-seat-orange-light: #ed9551;
    --color-seat-orange-lightest: #f8b877;

    --color-seat-beige: #ded1a7;
    --color-seat-yellow: #ffde4a;
    --color-seat-yellow-dark: #fcc446;

    --color-seat-green: #84c497;
    --color-seat-green-light: #b7d8aa;
    --color-seat-lime: #d8dc48;

    --color-seat-cyan: #00afac;
    --color-seat-cyan-light: #8ececf;
    --color-seat-teal: #9fb9ae;

    --color-seat-blue: #6baee0;
    --color-seat-blue-light: #95c0d6;
    --color-seat-grey-light: #dedad4;

    --color-seat-grape: #cf7fa1;
    --color-seat-grape-light: #b793a9;
    --color-seat-grape-lightest: #d1b8c7;

    --color-seat-brown: #9f948e;
    --color-seat-brown-light: #d4af9c;
    --color-seat-brown-lightest: #e8d0c1;

    /* Typography - Weight */
    --font-medium: 500;

}


/* ===================================================================== */
/*  $1 - Resets (https://necolas.github.io/normalize.css/)               */
/* ===================================================================== */
html {
    font-family: "Seat Bcn";
}

/* ===================================================================== */
/*       $2.1 - HTML Elements - Links                                    */
/* ===================================================================== */
a:hover,
a:focus,
a:active {
    color: #303D60;
    text-decoration: none;
}

/* ===================================================================== */
/*       $2.4 - HTML Elements - Inputs and Selectors                     */
/* ===================================================================== */
.form-control[data-input] {
    background-color: transparent;
    border: 0;
    border-bottom: var(--border-size-s) solid var(--color-neutral-5);
    border-radius: 0;

    &:focus,
    &:hover {
        border: 0;
        border-bottom: var(--border-size-s) solid var(--color-neutral-5);
    }

    &[disabled] {
        background-color: transparent;
        border: 0;
        border-bottom: var(--border-size-s) solid var(--color-neutral-5);
    }

    &[disabled]::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--color-neutral-5);
        opacity: 1;
        /* Firefox */
    }

    &[disabled]:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-neutral-5);
    }

    &[disabled]::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--color-neutral-5);
    }
}

/* ===================================================================== */
/*       $2.5 - HTML Elements - Buttons                                  */
/* ===================================================================== */
.btn {
    padding: var(--space-none) var(--space-xl);
}

.desktop .btn:not(.btn-cancel) {
    &:hover {
        filter: opacity(0.7);
    }

}

.btn.btn-primary {
    &:hover:active {
        filter: brightness(0.9);
    }

}

.btn:not(.btn-cancel) {
    border: var(--border-size-m) solid currentColor;

    &:not(.btn-primary):hover:active {
        background-color: rgba(234, 93, 26, 0.15);
        border: var(--border-size-m) solid currentColor;
    }

    &[class*="background-"] {
        border: var(--border-size-m) solid transparent;
    }
}

.btn-cancel {
    border: var(--border-size-m) solid var(--color-neutral-6);

    &:focus {
        border: var(--border-size-m) solid #90C2FC;
    }
}

/* ===================================================================== */
/*  $3.1.2 - Page Layout - Header Content 
/* ===================================================================== */
.desktop .header-content>.layout-application-title>[data-block*="ApplicationTitle"] .application-name {
    display: none;
}

.header-content>.layout-application-title>[data-block*="ApplicationTitle"] .application-name {
    margin-right: var(--space-m);
}

/* ===================================================================== */
/*       $3.2 - Page Layout - Menu                                       */
/* ===================================================================== */
.submenu.active .submenu-item,
.desktop .submenu.active .submenu-header:hover .submenu-item,
.submenu.active .submenu-item a {
    color: var(--color-primary);
    font-weight: bold;
}

.layout-side .app-menu-content .application-name {
    padding: var(--space-s) var(--space-m)
}

.layout-side .app-menu-content {
    padding-top: 55px;
}

.layout-side .submenu.active .submenu-header,
.tablet .submenu.active .submenu-header,
.phone .submenu.active .submenu-header {
    background: rgba(234, 93, 26, 0.15);
    border-left: var(--border-size-m) solid transparent;
    border-radius: var(--border-radius-soft);
    height: 40px;
    margin-bottom: var(--space-xs);
    padding: var(--space-none) var(--space-base);
    transition: all 200ms linear;
}

.layout-side .application-name {
    height: auto;
    left: var(--space-m);
    position: absolute;
    top: var(--space-s);
    z-index: 101;
}

.layout-side .app-menu-links {
    padding: var(--space-s);
}

.layout-side .submenu .submenu-header:hover {
    background-color: var(--color-neutral-2);
}

/* ===================================================================== */
/*              $4.1.3   - Patterns - Adaptive - MasterDetail            */
/* ===================================================================== */
.list-item-content .list-item-content-right i:not([class*="text-"]) {
    color: var(--color-primary);
}

/* ===================================================================== */
/*              $4.2.1   - Patterns - Content - Accordion                */
/* ===================================================================== */
.section-expandable.is--open .section-expandable-title {
    font-weight: var(--font-regular);
}

/* ===================================================================== */
/*              $4.2.8   - Patterns - Content - ChatMessage              */
/* ===================================================================== */
.chat.right {

    .chat-message,
    .avatar {
        background-color: var(--color-primary);
    }
}

/* ===================================================================== */
/*              $4.2.12  - Patterns - Content - Section                  */
/* ===================================================================== */
.section-title {
    border-bottom: var(--border-size-s) solid var(--color-neutral-5);
    font-weight: var(--font-regular);
}

/* ===================================================================== */
/*              $4.2.15  - Patterns - Content - UserAvatar               */
/* ===================================================================== */
.avatar {
    border: var(--border-size-s) solid currentColor;
}

/* ===================================================================== */
/*              $4.3.5   - Patterns - Interaction - DatePicker           */
/* ===================================================================== */
.pika-title {
    padding: var(--space-m) var(--space-base) var(--space-m) var(--space-base);
}

.pika-labels {
    justify-content: center;
    order: 2;
}

.pika-prev {
    order: 1;
}

.pika-next {
    order: 3;
}

.pika-label {
    color: var(--color-neutral-9);
    font-weight: var(--font-medium);
}

/* ===================================================================== */
/*              $4.3.6   - Patterns - Interaction - DropdownSearch       */
/* ===================================================================== */

.choices__list--dropdown {
    .choices__item--selectable.is-highlighted {
        background-color: var(--color-primary);
        border-radius: var(--border-radius-soft);
        color: var(--color-neutral-0);
    }

    .choices__list {
        padding: var(--space-s);
    }
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: var(--color-neutral-5);
}

/* ===================================================================== */
/*              $4.3.7   - Patterns - Interaction - DropdownTags         */
/* ===================================================================== */
.choices[data-type=select-multiple] {
    &.is-open.is-focused .choices__inner {
        border-bottom: var(--border-size-s) solid var(--color-neutral-5);
        border-radius: 0;
    }

    .choices__input,
    .choices__inner {
        background: transparent;
        border: 0;
        border-radius: 0;
    }

    .choices__inner {
        border-bottom: var(--border-size-s) solid var(--color-neutral-5);
    }


    .choices__list.choices__list--dropdown.is-active {
        padding: var(--space-s) 0 var(--space-s) var(--space-s);
    }

    .choices__list--dropdown .choices__item {
        margin-right: 8px;
    }

    .choices__item:not(.choices__item--choice) {
        background-color: var(--color-neutral-6);
        border: var(--border-size-s) solid var(--color-neutral-6);
        color: var(--color-neutral-0);
    }

    .choices__button::after {
        color: var(--color-neutral-0);
    }
}

/* ===================================================================== */
/*              $4.4.7   - Patterns - Navigation - Wizard                */
/* ===================================================================== */
.wizard-wrapper-item {
    &.active .wizard-item-icon {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-neutral-0);
    }

    &.past .wizard-item-icon {
        background-color: var(--color-neutral-0);
        border-color: var(--color-primary);
        color: var(--color-primary);
    }
}

/* ===================================================================== */
/*              $4.5.1   - Patterns - Numbers - Badge                    */
/* ===================================================================== */
.badge[class*=-lightest] {
    background: var(--color-neutral-0);
    border: var(--border-size-s) solid currentColor;
}

/* ===================================================================== */
/*              $4.5.6   - Patterns - Numbers - ProgressCircleFraction   */
/* ===================================================================== */
.progress-circle-medium .progress-circle-text-numerator {
    font-size: var(--font-size-h4);
}

.progress-circle-text-numerator {
    color: var(--color-primary);
    font-weight: bold;
}

/* ===================================================================== */
/*       $5.7  - Widgets - ButtonGroup                                   */
/* ===================================================================== */
.button-group-item {
    border: var(--border-size-m) solid var(--color-primary);
}

/* ===================================================================== */
/*       $5.10 - Widgets - Checkbox                                      */
/* ===================================================================== */
[data-checkbox]:checked:before {
    background: var(--color-neutral-10);
    border: var(--border-size-s) solid var(--color-neutral-10);
}

/* ===================================================================== */
/*       $5.11 - Widgets - Dropdown                                      */
/* ===================================================================== */

[data-dropdown] {

    div.dropdown-popup-row-selected:hover,
    div.dropdown-popup-row:hover,
    div.dropdown-popup-row-selected {
        background: var(--color-primary);
        border-radius: var(--border-radius-soft);
        color: var(--color-neutral-0);

    }

    .scrollable-list-with-scroll {
        padding: var(--space-s);
    }

}

/* ===================================================================== */
/*  $9 - Custom Classes                                                  */
/* ===================================================================== */

.text-primary-color {
    color: var(--color-primary);
}

.font-size-xxs {
    font-size: var(--font-size-xxs);
}

.background-seat-red {
    background-color: var(--color-seat-red);
}

.text-seat-red {
    color: var(--color-seat-red);
}

.background-seat-red-light {
    background-color: var(--color-seat-red-light);
}

.text-seat-red-light {
    color: var(--color-seat-red-light);
}

.background-seat-red-lightest {
    background-color: var(--color-seat-red-lightest);
}

.text-seat-red-lightest {
    color: var(--color-seat-red-lightest);
}

.background-seat-orange {
    background-color: var(--color-seat-orange);
}

.text-seat-orange {
    color: var(--color-seat-orange);
}

.background-seat-orange-light {
    background-color: var(--color-seat-orange-light);
}

.text-seat-orange-light {
    color: var(--color-seat-orange-light);
}

.background-seat-orange-lightest {
    background-color: var(--color-seat-orange-lightest);
}

.text-seat-orange-lightest {
    color: var(--color-seat-orange-lightest);
}

.background-seat-beige {
    background-color: var(--color-seat-beige);
}

.text-seat-beige {
    color: var(--color-seat-beige);
}

.background-seat-yellow {
    background-color: var(--color-seat-yellow);
}

.text-seat-yellow {
    color: var(--color-seat-yellow);
}

.background-seat-yellow-dark {
    background-color: var(--color-seat-yellow-dark);
}

.text-seat-yellow-dark {
    color: var(--color-seat-yellow-dark);
}

.background-seat-green {
    background-color: var(--color-seat-green);
}

.text-seat-green {
    color: var(--color-seat-green);
}

.background-seat-green-light {
    background-color: var(--color-seat-green-light);
}

.text-seat-green-light {
    color: var(--color-seat-green-light);
}

.background-seat-lime {
    background-color: var(--color-seat-lime);
}

.text-seat-lime {
    color: var(--color-seat-lime);
}

.background-seat-cyan {
    background-color: var(--color-seat-cyan);
}

.text-seat-cyan {
    color: var(--color-seat-cyan);
}

.background-seat-cyan-light {
    background-color: var(--color-seat-cyan-light);
}

.text-seat-cyan-light {
    color: var(--color-seat-cyan-light);
}

.background-seat-teal {
    background-color: var(--color-seat-teal);
}

.text-seat-teal {
    color: var(--color-seat-teal);
}

.background-seat-blue {
    background-color: var(--color-seat-blue);
}

.text-seat-blue {
    color: var(--color-seat-blue);
}

.background-seat-blue-light {
    background-color: var(--color-seat-blue-light);
}

.text-seat-blue-light {
    color: var(--color-seat-blue-light);
}

.background-seat-grey-light {
    background-color: var(--color-seat-grey-light);
}

.text-seat-grey-light {
    color: var(--color-seat-grey-light);
}

.background-seat-grape {
    background-color: var(--color-seat-grape);
}

.text-seat-grape {
    color: var(--color-seat-grape);
}

.background-seat-grape-light {
    background-color: var(--color-seat-grape-light);
}

.text-seat-grape-light {
    color: var(--color-seat-grape-light);
}

.background-seat-grape-lightest {
    background-color: var(--color-seat-grape-lightest);
}

.text-seat-grape-lightest {
    color: var(--color-seat-grape-lightest);
}

.background-seat-brown {
    background-color: var(--color-seat-brown);
}

.text-seat-brown {
    color: var(--color-seat-brown);
}

.background-seat-brown-light {
    background-color: var(--color-seat-brown-light);
}

.text-seat-brown-light {
    color: var(--color-seat-brown-light);
}

.background-seat-brown-lightest {
    background-color: var(--color-seat-brown-lightest);
}

.text-seat-brown-lightest {
    color: var(--color-seat-brown-lightest);
}

.min-height-170 {
    min-height: 170px;
}

.min-height-287 {
    min-height: 287px;
}